<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') -%> <!-- Including head partial -->
  </head>
  <body>
    <%- include('./partials/navmenu') -%>

<!-- INSERT ACTUAL PAGE CONTENT HERE!!!!-->
<H1> CONGRATULATIONS YOU ARE LOGGED IN</H1>


  </form>

    <%- include('./partials/footer') -%>
</body>
</html>